{{- /*
    @brief Get list of pages in current .Data.Pages (including revisions)

    @param context The page context or nil
*/ -}}
{{ $context := . }}
{{ if eq $context nil }}
    {{ $context = page }}
{{ end }}
{{- $map := dict -}}
{{- $list := slice -}}
{{- range $index, $page := $context.Data.Pages -}}
    {{- if and (eq $page.Kind "section") (eq $page.Type "turing/revisions") -}}
        {{- /* recursion here check if it should be expanded */ -}}
        {{- $sectionPages := partialCached "turing/revisions/pages-with-revisions" $page $page.RelPermalink -}}
        {{ $list = $list | append $sectionPages }}
    {{- else -}}
        {{- $list = $list | append $page -}}
    {{- end -}}
{{- end -}}

{{ return $list }}