{{- /* */ -}}

{{ $params := index site.Params "turing" | default dict }}

{{ $path := default nil }}
{{ $result := default nil }}

{{ if reflect.IsSlice . }}
    {{ $path = index . 0 }}
    {{ $result = index . 1 }}
{{ else if reflect.IsMap . }}
    {{ $path = index . "path" }}
    {{ $result = index . "default" }}
{{ else }}
    {{ $path = . }}
{{ end }}

{{ $result = index $params $path | default $result }}

{{ return $result }}