{{ define "main" }}
    <h1>{{ .Page.Title }}</h1>
    <br/>
    {{ .Content }}
    {{ $pages := partial "turing/revisions/pages-with-revisions" . }}
    <div class="posts-list">
        {{ range sort $pages "Date" "desc" }}
            {{ if not .Params.private }}
                <div class="post">
                    <p>
                        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>    
                        <h1><a href="{{ .Permalink }}" title="{{ partial "turing/revisions/page-title" . }}">{{ partial "turing/revisions/page-title" . }}</a></h1>
                        {{ .Summary }}
                        {{ if .Truncated }}
                            <a href="{{ .RelPermalink }}">Read more...</a>
                        {{ end }}
                    </p>
                </div>
            {{ end }}
        {{ end }}
    </div>

{{ end }}