{{- /*
    @param context The string of what cdn we want to acquire
*/ -}}
{{- $asset := . -}}
{{- $result := default nil -}}
{{- $cdn := default (dict) site.Params.turing.theme.console.cdn -}}
{{- $value := default false (index $cdn "default") -}}
{{- if ne $value true -}}
    {{- if ne $value false -}}
        {{- /* WARNING HERE */ -}}
    {{- end -}}
    {{- $value = false -}}
{{- end -}}
{{- $value = default $value (index (default (dict) (index $cdn "assets")) $asset) -}}
{{- $partial := default nil -}}
{{- if eq $value true -}}
    {{- $partial = (printf "turing/console-theme/cdn/enabled/%s.html" .) -}}
{{- else if $value }}
    {{- $result = $value -}}
{{- else -}}
    {{- $partial = (printf "turing/console-theme/cdn/disabled/%s.html" .) -}}
{{- end -}}
{{- if $partial -}}
    {{- if templates.Exists (print "partials/" $partial) -}}
        {{- $result = trim (partialCached $partial .) "\t\n\v\f\r " -}}
    {{- else if or (eq $value true) (eq $value false) -}}
        {{- $result = $asset -}}
    {{- else -}}
        {{- /* WARNING HERE */ -}}
    {{- end -}}
{{- end -}}

{{- return $result -}}