{{/*
    @brief Execute templates
    
    
    @param partial The partial to call during execution stage
    @param arguments The partial arguments (json encoded value)
    @param operator The operator to compare actual result to @p expected and @p options 
    @param expected The expected value (optional for some operatators) 
*/}}
{{ $name := .Get "name" }}
{{ $template := .Get "partial" }}
{{ $templateType := .Get "templateType" | default "partial" }}
{{ $expected := .Get "expected" }}
{{ $expecetdType := .Get "expecetdType" }}
{{ $operator := .Get "operator" | default "eq" }}
{{ $options := .Get "options" }}
{{ $optionsType := .Get "optionsType" }}
{{ $arguments := .Get "arguments" }}
{{ $argumentsType := .Get "argumentsType" }}

{{/* Get actual value of partial */}}
{{ $actual := default nil }}
{{ $called := false }}

{{ if eq $argumentsType "string" }}
    {{ $arguments = partial "turing/partial" (slice "test/string-unescape" $arguments) }}
{{ end }}
{{ $arguments = partial "turing/partial" (slice "test/arguments" (slice $arguments $argumentsType)) }}
{{ $expected = partial "turing/partial" (slice "test/arguments" (slice $expected $expecetdType)) }}

{{ if templates.Exists (printf "partials/%s.html" $template) }}
    {{ $called = true }}
    {{ $actual = partial $template $arguments }}
{{ else if templates.Exists (printf "partials/%s.tmpl" $template) }}
    {{ $called = true }}
    {{ warnf "%s" $template }}
    {{ $actual = partial (printf "%s.tmpl" $template) $arguments }}
{{ end }}

{{ $result := false }}
{{ if $called }}
    {{ $result = partial  "turing/test/operator" (dict "expr" $operator "actual" $actual "expected" $expected "options" $options) }}
{{ end }}

{{ if or (eq $name nil) (eq $name "") }}
    {{ $name = partial "turing/partial" (slice "test/name" (slice $template .Ordinal)) }}
{{ end }}
<h2>{{ $name }}</h2>
<ul>
    {{ if not $called }} ☠️ {{ end }}
    {{ if and $called $result }} ✔️ {{ else }} ❌ {{ end }}
    {{ $parts := split .Position ":" | last 2 }}
    {{ $line := index ($parts) 0}}
    {{ $column := index ($parts) 1}}
    <li><strong>{{ .Ordinal }} {{  $line }} {{ .Page.File.Path }}:{{ $line }}:{{ $column }} </strong></li>
    <li><strong>{{ .Page.File.TranslationBaseName  }} </strong></li>
    <li>Arguments: {{ $arguments }}</li>
    <li>{{  partial "turing/reflect/is_string" $arguments }}</li>
    <li>Partial: {{ $template }} (found: {{ $called }})</li>
    <li>Operator: {{ $operator }}</li>
    <li>Expected: '{{ $expected }}'</li>
    <li>Actual: '{{ $actual }}' </li>
    <li>Result: {{ $result }}</li>
</ul>
